@using AntDesign

<Sider Style="overflow: auto; height: 100vh; position: fixed; left: 0; background-color: #222222;">
    <h3 style="display: flex; justify-content: center; margin-top: 10px; color: white;">
        <NavLink href="/">
            Langbox
        </NavLink>
    </h3>

    <Menu 
          Style="background-color: #222222;" 
          Theme="MenuTheme.Dark" 
          Mode="MenuMode.Inline">
        <MenuItem Key="1">
            <NavLink href="/challenge" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Challenge
            </NavLink>
        </MenuItem>
        <MenuItem Key="2">
            <NavLink href="/challenge/new" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Challenge
            </NavLink>
        </MenuItem>
    </Menu>
</Sider>